$dark--main: #0a0a0a;
$dark--300: #2a2e34;
$dark--200: #3b3f46;
$dark--100: #7e7e7e;

$color-700: #57627B;
$color-error: #f75555;

$white-rgb: #rgb(255 255 255 / 47%);

$light-main: #ffffff;
$light--200: #EFF0F1;
$light--100: #2a2e34;

$border-color: #C5CEE0;

$scrollbar: transparent;
$scrollbar-track: transparent;
$scrollbar-thumb: #CED2DB;
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 16px;